fastapi[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
celery
redis
pydantic[email]
alembic
python-dotenv
pydantic-settings
python-multipart # For FastAPI file uploads
google-cloud-storage # For GCS integration
browser-use
Pillow
langchain-google-genai
